.Card{
    width: 100px;
    height: 150px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}

.Card > img{
    height: 100%;
    width: 100%;
}

.number-top{
    text-align: start;
    padding: 2px 10px;
    font-size: 15px;
}

.number-bottom{
    text-align: end;
    padding: 2px 10px;
    font-size: 15px;
}

.suit-middle{
    height: 60px;
    font-size: 50px;
    margin-left: 35px;
    margin-right: 30px;
    margin-top: -5px;
    justify-content: center!important;
    align-items: center!important;
}