.Header{
    width: 100%;
    min-height: 919px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: url(../../assets/images/casino.jpeg) no-repeat center center; 
    background-size: cover;
}

@media(max-width: 500px){
    .Header{
        min-height: 700px;
        background-position-x: -680px;
    }
}