.Navbar {
  display: flex;
  min-height: 50px;
  align-items: center;
  margin-top: 15px;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand {
  width: auto;
  height: 150px;
}

.navbar-brand > img {
  width: 100%;
  height: 100%;
}

.navbar-menu {
  display: flex;
  font-size: 28px;
}

.navbar-menu > ul {
  display: flex;
  position: relative;
}

.navbar-menu > ul > li,
.navbar-menu-toogled > ul > li {
  text-decoration: none;
  list-style: none;
  color: goldenrod;
}

.navbar-menu > ul > li:not(:last-child) {
  margin-right: 30px;
}

.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer;
  text-decoration: none;
  color: goldenrod;
  font-weight: 800;
  text-shadow: 2px 2px black;
  font-size: 1.45rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  position: relative;
  padding: 0 10px;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
}

.nav-link:hover{
  color: rgb(224, 196, 103);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

@media(max-width: 500px){
  .navbar-brand{
    height: 80px;
    margin-top: -70px;
  }
  .navbar-menu-toogled{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight:500;
  }

  .nav-link{
    font-size: 1.25rem;
  }
}
